/*
  # You can add here classes that specify one feature e.g.

  .bg-black {
    background-color: #000;
    }

    or

    .my-50{
      margin-top: 3.125rem; //50px
      margin-bottom: 3.125rem; // 50px
      }

 */